@charset "utf-8";
/* スマホ　４２５px~ */
@media (min-width: 425px) {
    /* logo */
    #logo img {
        /* width: 100px; */
        left: 20px;
        top: 15px;
    }
    /* ハンバーガーメニュー */
    #toggle_btn {
        padding: 20px;
        position: absolute;
        z-index: 5;
        top: 20px;
        right: 20px;
    }
}
/* タブレット */
@media (min-width:768px) {
    /* logo */
    #logo img{
        width: 150px;
    }
    .first_view_sp {
        display: none;
    }
    .first_view_pc {
        display: block;
    }

    /* ハンバーガーメニュー */
    #toggle_btn {
        padding: 25px;
        top: 25px;
        right: 25px;
    }


    /* news_profile */
    #news_profile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    /* news */
    #news {
        width: 100%;
    }
    .news_content {
        padding: 15px;
    }

    /* profile top */
    #profile_top {
        margin-top: 0;
    }    
} 

@media (min-width:1024px) {
    /* reservation */
    .reservation {
        position: relative;
    }

    .reservation p {
        font-size: 1.2rem;
        margin-left: 20px;
    }

}