@charset "UTF-8";

body {
    background-color: #242424;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-------------- header -----------------------*/
header {
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 2;
}

#logo img {
    width: 50px;
    position: fixed;
    top: 10px;
    z-index: 99;
}

/*------------ main_visual ------------------*/

#main_visual video{
    width: 100%;
    z-index: -1;
}
#main_visual {
    margin-bottom: 100px;
}

/*------------------- ハンバーガーメニュー --------------------*/

#toggle_btn {
    padding: 20px;
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 5%;
    cursor: pointer;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: #454444 0 1px 6px 0;
}
#toggle_btn span {
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: #3d3d3d;
    transition: .5s;
}
#toggle_btn span:nth-of-type(2){
    top: 50%;
}
#toggle_btn span:nth-of-type(3){
    top: 75%;
}
.open #toggle_btn span:nth-of-type(1){
    top: 50%;
    transform: translateX(-50%) rotate(-405deg);
    background-color: #3d3d3d;
}
.open #toggle_btn span:nth-of-type(2){
    opacity: 0;
}
.open #toggle_btn span:nth-of-type(3){
    top: 50%;
    transform: translateX(-50%) rotate(405deg);
    background-color: #3d3d3d;
}
/* マスク　　*/
.mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    right:-50px;
    top:-50px;
    transition: .5s;
    background-color: #4b4b4b;
    z-index: 3;
}

.open .mask {
    transform: scale(50);
}

/*----------------- メニュー ---------------*/
#menu {
    position: fixed;
    z-index: 999;
    top: -200px;
    right: -100px;
    line-height: 3;
    transition: .5s ease;
    opacity: 0;
}
#menu li {
    list-style: none;
}
#menu a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 5px;
    transition: .2s ease;
    position: relative;
    font-size: 20px;
}

#menu a::before{
    content: "";
    width: 5px;
    height: 1px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
}

#menu a:hover::before {
    width: 100%;
    opacity: 1;
}

.open #menu {
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
    opacity: 1;
}


/*-------------- container ---------------*/
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
    margin-top: 100px;

}

/*----------- content title ---------------*/
.content_ttl {
    color: #f4f4f4;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 40px;
    border-bottom: .75px solid;
    margin-bottom: 30px;
} 

/*------------- reservation_sns -------------------*/

.reservation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #f4f4f4;
    font-size: .75rem;
    text-decoration: none;
    padding: 20px;
    line-height: 2;
    background-color: #4b4b4b;
    border-radius: 5px;
    transition: .3s;
}
.reservation img {
    width: 20%;
    margin-right: 30px;
    transform: rotate(-20deg);
}
.reservation:hover {
    opacity: .8;
    transform: scale(1.05);
}


/*------------------ news ------------------*/

.news_content {

    padding: 5%;
    border-radius: 5px;
    border: 1px solid #e2e2e2dd;
    margin-top: 50px;
}


.news_content li {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
.news_content li:hover {
    opacity: .7;
}

.news_content li:first-child {
    margin-top: 20px;
}
.news_content li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e2e2e2dd;
    transition: .4s;
}

.news_content li:hover::before {
    width: 100%;
}

.news_content a {
    width: 100%;
    text-decoration: none;
    color: #f4f4f4;
    transition: .2s;
}


/*--------- profile ------------*/
#profile_top {
    margin-top: 100px;
}

#profile_top img {
    width:  200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 2px #3d3d3d;
    margin-top: 50px;
}

.profile_overview {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #f4f4f4;
}

.to_profile_detail {
    text-align: right;
}
.to_profile_detail a{
    color: #f4f4f4;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.to_profile_detail a:hover {
    opacity: .8;
}

.to_profile_detail a::before {
    content: "";
    width: 30%;
    height: .75px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .2s;
}

.to_profile_detail a::after {
    content: "";
    background-color: #f4f4f4;
    height: 4px;
    width: 12px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    position: absolute;
    right: 0;
    bottom: .5px;
}
.to_profile_detail a:hover:before {
    width: 100%;
}

.sns-link {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    padding: 30px;

    color: #f4f4f4;
}
.link img{
    width: 50%;
}
.link {
    text-decoration: none;
    color: #f4f4f4;
    background-color: #4b4b4b;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 9px 10px 0px #2d2d2d;
    transition: .3s;
}
.link:hover {
    opacity: .8;
    transform: scale(1.1);
}

/*--------------------- fishing result ---------------------*/

.fishing_result_content {
    width: 100%;
    height: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;

}

.result_content_inner {
    flex: 0 0 auto; /* 子要素が横並びになるように設定 */
    width: 200px; /* 各要素の幅を設定 */
    margin-right: 20px; /* 各要素の間にスペースを設定 */
    background-color: white; /* 任意の背景色 */
    border-radius: 5px; /* 任意の角丸 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 任意の影 */
    text-align: center; /* テキストを中央揃え */
    padding: 10px; /* 任意のパディング */
    text-decoration: none;
    color: #333;
    transition: .2s;
}
.result_content_inner:hover {
    scale: 1.1;
    opacity: .7
}

.result_content_inner img {
    width: 100%;
    height: auto; /* 画像の高さを自動調整 */
    border-radius: 5px; /* 任意の角丸 */
    margin-bottom: 20px;
}

.to_fishing_result {
    text-align: right;
    margin-top: 30px;
}
.to_fishing_result a{
    color: #f4f4f4;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.to_fishing_result a:hover {
    opacity: .8;
}

.to_fishing_result a::before {
    content: "";
    width: 30%;
    height: .75px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .2s;
}

.to_fishing_result a::after {
    content: "";
    background-color: #f4f4f4;
    height: 4px;
    width: 12px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    position: absolute;
    right: 0;
    bottom: .5px;
}
.to_fishing_result a:hover:before {
    width: 100%;
}

/*------------------------- blog --------------------------------------*/

.blog_content {
    width: 100%;
    height: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.blog_content_inner {
    flex: 0 0 auto; /* 子要素が横並びになるように設定 */
    width: 200px; /* 各要素の幅を設定 */
    margin-right: 20px; /* 各要素の間にスペースを設定 */
    background-color: white; /* 任意の背景色 */
    border-radius: 5px; /* 任意の角丸 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 任意の影 */
    text-align: center; /* テキストを中央揃え */
    padding: 10px; /* 任意のパディング */
    text-decoration: none;
    color: #333;
    transition: .2s;
}
.blog_content_inner:hover {
    scale: 1.1;
    opacity: .7;
}

.blog_content_inner img {
    width: 100%;
    height: auto; /* 画像の高さを自動調整 */
    border-radius: 5px; /* 任意の角丸 */
    margin-bottom: 20px;
    aspect-ratio: 1;
    object-fit: cover;
}

.to_blog {
    text-align: right;
    margin-top: 30px;
}
.to_blog a{
    color: #f4f4f4;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.to_blog a:hover {
    opacity: .8;
}

.to_blog a::before {
    content: "";
    width: 30%;
    height: .75px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .2s;
}

.to_blog a::after {
    content: "";
    background-color: #f4f4f4;
    height: 4px;
    width: 12px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    position: absolute;
    right: 0;
    bottom: .5px;
}
.to_blog a:hover:before {
    width: 100%;
}

/*-------------- access ------------------*/
#access {
    color: #f4f4f4;
    line-height: 2;
    margin-bottom: 80px;
}
#access p{
    margin-bottom: 30px;
}
#access iframe {
    width: 100%;
}

/*-------------------------- footer -----------------*/
footer {
    background-color: #6c6c6c68;
    padding: 20px;
    color: #f4f4f4;
    text-align: center;
}